CREATE DATABASE [Timetable]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Timetable', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Timetable.mdf' , SIZE = 524288KB , FILEGROWTH = 524288KB )
 LOG ON 
( NAME = N'Timetable_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Timetable_log.ldf' , SIZE = 524288KB , FILEGROWTH = 524288KB )
GO
USE [Timetable]
GO
USE [Timetable]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [Timetable] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
