CREATE DATABASE [TimetableRdg]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Timetable', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TimetableRdg.mdf' , SIZE = 524288KB , FILEGROWTH = 524288KB )
 LOG ON 
( NAME = N'Timetable_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TimetableRdg_log.ldf' , SIZE = 524288KB , FILEGROWTH = 524288KB )
GO
USE [TimetableRdg]
GO
USE [TimetableRdg]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [TimetableRdg] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
